<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link href={{ asset('css/bootstrap.min.css') }} rel="stylesheet">
    <link rel="stylesheet" href={{ asset('css/font-awesome.min.css') }} type="text/css">
    <link rel="stylesheet" href={{ asset('css/elegant-icons.css') }} type="text/css">
    <link rel="stylesheet" href={{ asset('css/nice-select.css') }} type="text/css">
    <link rel="stylesheet" href={{ asset('css/jquery-ui.min.css') }} type="text/css">
    <link rel="stylesheet" href={{ asset('css/owl.carousel.min.css') }} type="text/css">
    <link rel="stylesheet" href={{ asset('css/slicknav.min.css') }} type="text/css">
    <link rel="stylesheet" href={{ asset('css/style.css') }} type="text/css">
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>

        {% block header %}{% endblock %}
        {% block body %}{% endblock %}
        {% block footer %}
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
            <!-- Footer Section Begin -->
    <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <a href=""><img src={{ asset('img/logo.png') }} alt=""></a>
                        </div>
                        <ul>
                            <!-- <li>Address: 60-49 Road 11378 New York</li> -->
                            <li>Tel: +229 00.00.00.00</li>
                            <li>Email: agroexchange2@gmail.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                    <div class="footer__widget">
                        <h6>Liens utiles</h6>
                        <ul>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">About Our Shop</a></li>
                            <li><a href="#">Secure Shopping</a></li>
                            <li><a href="#">Delivery infomation</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Our Sitemap</a></li>
                        </ul>
                        <ul>
                            <li><a href="#">Who We Are</a></li>
                            <li><a href="#">Our Services</a></li>
                            <li><a href="#">Projects</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Innovation</a></li>
                            <li><a href="#">Testimonials</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="footer__widget">
                        <h6>Rejoignez notre newsletter maintenant</h6>
                        <p>Recevez des mises à jour par e-mail</p>
                        <form action="#">
                            <input type="text" placeholder="Votre adresse email">
                            <button type="submit" class="site-btn">S'abonner</button>
                        </form>
                        <div class="footer__widget__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer__copyright">
                        <div class="footer__copyright__text"><p>
Copyright &copy;<script>document.write(new Date().getFullYear());</script> AgroExchange Tous droits réservés | By Winpreneur.</p></div>
                        <div class="footer__copyright__payment"><img src={{ asset('img/payment-item.png') }} alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->
        {% endblock %}

        {% block javascripts %}
                <script src={{ asset('js/jquery-3.3.1.min.js') }}></script>
                <script src={{ asset('js/bootstrap.bundle.min.js') }}></script>
                <script src={{ asset('js/jquery.nice-select.min.js') }}></script>
                <script src={{ asset('js/jquery-ui.min.js') }}></script>
                <script src={{ asset('js/jquery.slicknav.js') }}></script>
                <script src={{ asset('js/mixitup.min.js') }}></script>
                <script src={{ asset('js/owl.carousel.min.js') }}></script>
                <script src={{ asset('js/main.js') }}></script>
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

        {% block additionnal_javascripts %}
        {% endblock %}
    </body>
</html>
